* {
  background-color: #001523;
  scroll-behavior: smooth;
}


.App {
  text-align: center;
}

.introduction {
  color: #ffff;
}

.major {
  color: #75E6DA;
}

.description{
  color: #ffff;
}

.contactMe {
  background-color: #75E6DA;
  color: #001523;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 15px;
  font-weight: bold;
}

.contactMe:hover {
  color: #ffff;
  transition: 0.5s;
  background-color: #002137;
}


.navbar a{
  color: #ffff;
  text-decoration: none;
  padding-left: 40px;
  font-size: large;
}

.navbar a:hover {
  transform: scale(1.1);
  color: #75E6DA;
  transition: 0.5s;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
  color: #ffff;
}

.links {
  margin-top: 3%;
  padding-bottom: 20px;
}

.links a{
  margin: 20px;
}


/* src/components/BackToTopButton.css */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.back-to-top button {
  color: #75E6DA;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
}

.back-to-top button:hover {
  background-color: #002137;
  color: #ffffff;
  transition: 0.3s;
}

.project-title {
  padding-top: 250px;
  padding-bottom: 250px;
  text-align: center;
  color: #ffffff;
}

.project-cards {
  display: flex;
  flex-direction: row; 
  justify-content: space-around; 
  flex-wrap: wrap; 
  margin: 20px 0; 
}

.project-cards > div {
  flex: 1;
  margin: 50px;
  padding: 10px;
  border: 1px solid #75E6DA;
  border-radius: 20px;
  color: #ffffff;
  text-align: center;
}

.project-cards img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

a {
  color: #ffffff;
  text-decoration: none;

}

.project-cards p, .project-cards a {
  font-size: 14px; /* Adjust the font size as needed */
  line-height: 1.5; /* Adjust line height for better readability */
  margin: 5px 0; /* Add some margin for spacing */
}

.project-cards a {
  display: block; /* Make links block elements for better spacing */
  background-color: #75E6DA;
  color: #001523;
  padding: 5px 20px;
  margin: 4px;
  border-radius: 7px;
  display: inline-block;
  text-decoration: none; /* Remove underline from links */
}
